<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722376799583-bcaotvdv59pdcjld239n4msn193j3t02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722376799583-bcaotvdv59pdcjld239n4msn193j3t02</string>
	<key>API_KEY</key>
	<string>AIzaSyCKFSKfhaBZJAfLZwrphHnZMjz7yFR9urs</string>
	<key>GCM_SENDER_ID</key>
	<string>722376799583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dayoniyi.peertopeermoneytransferapp</string>
	<key>PROJECT_ID</key>
	<string>pay-mobile-ddab3</string>
	<key>STORAGE_BUCKET</key>
	<string>pay-mobile-ddab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722376799583:ios:d5a7f4fabc06bc20eef2ea</string>
</dict>
</plist>